<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="xyz.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <style>
    
    .dropdown {
      display: none;
    }

    .more:hover .dropdown {
      display: block;
    }

    
  </style>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li>
            <span class="nav-item">Dashboard</span>
        </li>
        <li>
            <form method = "post" action = "/event_admin">
            <input type = "text" name = "email" value = <%= data.email %> hidden readonly>
            <input type = "password" name = "pwd" value = <%= data.pwd %> hidden readonly>
            <input type = "text" name = "role" value = <%= data.role %> hidden readonly><br>
            <button type = "submit"><i class="fas fa-calendar-alt"></i>
            <span class="nav-item">Events</span></button>
            </form>
        </li>
        <li>
          <form method = "post" action = "/projects">
            <input type = "text" name = "email" value = <%= data.email %> hidden readonly>
            <input type = "password" name = "pwd" value = <%= data.pwd %> hidden readonly>
            <input type = "text" name = "role" value = <%= data.role %> hidden readonly><br>
            <button type = "submit"><i class="fas fa-tasks"></i>
            <span class="nav-item">Projects</span></button>
          </form>
        </li>
        <li>
          <form method = "post" action = "/upload_admin">
            <input type = "text" name = "email" value = <%= data.email %> hidden readonly>
            <input type = "password" name = "pwd" value = <%= data.pwd %> hidden readonly>
            <input type = "text" name = "role" value = <%= data.role %> hidden readonly><br>
            <button type = "submit"><i class="fas fa-cloud-upload-alt"></i>
            <span class="nav-item">Upload</span></button>
          </form>
        </li>
        <li class="more">
            <br>
            <button type = "submit">
            <i class="fas fa-ellipsis-h"></i>
            <span class="nav-item">More</span></button>
            <ul class="dropdown">
              <li>
                <form method = "post" action = "/adminprofile">
                <input type = "text" name = "email" value = <%= data.email %> hidden readonly>
                <input type = "password" name = "pwd" value = <%= data.pwd %> hidden readonly>
                <input type = "text" name = "role" value = <%= data.role %> hidden readonly><br>
                <button type = "submit">
                <i class="fas fa-user"></i>
                <span class="nav-item">My Profile</span></button>
                </form>
              </li>
              <li>
                <form method = "post" action = "/notification_admin">
                  <input type = "text" name = "email" value = <%= data.email %> hidden readonly>
                  <input type = "password" name = "pwd" value = <%= data.pwd %> hidden readonly>
                  <input type = "text" name = "role" value = <%= data.role %> hidden readonly><br>
                  <button type = "submit">
                  <i class="fas fa-bell"></i>
                  <span class="nav-item">Notification</span></button>
                </form>
              </li>
              <li>
                <form method = "get" action = "/"><br>
                  <button type = "submit">
                  <i class="fas fa-sign-out-alt"></i>
                  <span class="nav-item">Logout</span></button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    <!--<div class="image-container">
      <img src="image1.jpg" alt="Left Image" class="image2" />
  </div>-->
  </div>
</body>
</html>